body {
    background-color: #F4E9C9;
    color: #524E43;
    font-family: sans-serif;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1em;
}

.tile {
    font-size: 32pt;
    font-weight: bold;
    padding: 25px;
    background-color: #DCA03E;

    /* Disable text edit cursor when hovering over tiles */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes stretch {
    0% {
        transform: scale(.95);
        border-radius: 20%;
    }

    100% {
        transform: scale(1.05);
    }
}

.tile-movable {
    /* Add drag cursor indicator  */
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    /* Add animation */
    animation-name: stretch;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.tile-movable:hover {
    animation-play-state: paused;
    background-color: #DCA03E;
    opacity: 50%;
}

.tile-blank {
    background-color: #C2B9A0;
    opacity: 50%;
}

.tile-solved {
    background-color: #B2C55C;
}

.tile-game-over {
    background-color: #D2524F;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.tile-won {
    animation-name: spin;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4E9C9;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    white-space: pre-wrap;
}
